@import url(../../assets/css/colors.css);
@import url(../../assets/css/global_styles.css);

body {
    margin: 0;
    padding: 0;
}

#mainpage-container {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    height: 100vh;
    position: relative;
}

#landing-page {
    scroll-snap-align: start;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --bg-color: 255,255,255;
    background-color: rgba(var(--bg-color),1);
    z-index: 1;
    animation: bg-image 5s ease-in forwards;
}

/*the underneath background layer*/
#landing-page::before {
    content: "";
    background-image: url("../images/calton_portrait.jpg"); /*default to portrait version*/
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} 
/*change attributes for landscape viewport*/
@media (orientation: landscape) {#landing-page::before {background-image: url("../images/calton_landscape.jpg");} }

#box {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: normal;
}

#box1 {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-height: 400px;
}

#box1 h1 {
    font-size: 3rem;
    line-height: 0.8;
    position: relative;
    overflow: hidden; /*used for ::after masking*/
}

.primary-color {
    color: var(--red-color);
}

#box1 h1::after {
    content: "";
    background-color: var(--font-color);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    animation: right-mask 2.5s ease-in 0s forwards;
}

#box1 h1::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(var(--bg-color),1);
    animation: left-mask 2.5s ease-in 0s forwards;
}

@keyframes left-mask {
    0% {transform: translateX(0%)}
    100% {transform: translateX(110%)}
}

@keyframes right-mask {
    0% {transform: translateX(-110%)}
    100% {transform: translateX(110%)}
}

@keyframes bg-image {
    0% {background-color: rgba(var(--bg-color),1)}
    100% {background-color: rgba(var(--bg-color),0.9)}
}

#box2 {
    flex: 1 1 50%;
    max-height: 200px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#slot1::before, #slot2::before, #slot3::before {
    text-transform: uppercase;
    white-space: pre;
    content: "";
    opacity: 0%;
    animation-duration: 35s;
    animation-delay: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.15, 0.9, 0.2, 1);
    font-size: 2.5rem;
    font-weight: bold;
    --word1_1: "naive";
    --word2_1: "ignorant";
    --word3_1: "foolish";
    --word1_2: "calton";
    --word2_2: " hill";
    --word3_2: "";
}

/*::before/after animation and transition are not supported in safari*/
#slot1::before {animation-name: slot1}
#slot2::before {animation-name: slot2}
#slot3::before {animation-name: slot3}

@keyframes slot1{
    0% {content: var(--word1_1); opacity: 0;font-size: 2.5rem;}
    5% {content: var(--word1_1); opacity: 1;font-size: 2.5rem;}
    10% {content: var(--word1_1); opacity: 0;font-size: 2.5rem;}
    30% {content: var(--word1_1); opacity: 0;font-size: 2.5rem;}
    31% {content: var(--word1_2); opacity: 0; font-size: 3.0rem;}
    90% {content: var(--word1_2); opacity: 1; font-size: 3.0rem;}
    100% {content: var(--word1_2); opacity: 0; font-size: 3.0rem;}
}

@keyframes slot2 {
    0% {content: var(--word2_1); opacity: 0; font-size: 2.5rem;}
    20% {content: var(--word2_1); opacity: 0; font-size: 2.5rem;}
    25% {content: var(--word2_1); opacity: 1; font-size: 2.5rem;}
    30% {content: var(--word2_1); opacity: 0; font-size: 2.5rem;}
    31% {content: var(--word2_2); opacity: 0; font-size: 3.0rem;}
    90% {content: var(--word2_2); opacity: 1; font-size: 3.0rem;}
    100% {content: var(--word2_2); opacity: 0; font-size: 3.0rem;}
}

@keyframes slot3 {
    0% {content: var(--word3_1); opacity: 0; font-size: 2.5rem;}
    10% {content: var(--word3_1); opacity: 0; font-size: 2.5rem;}
    15% {content: var(--word3_1); opacity: 1; font-size: 2.5rem;}
    20% {content: var(--word3_1); opacity: 0; font-size: 2.5rem;}
    30% {content: var(--word3_1); opacity: 0; font-size: 2.5rem;}
    31% {content: var(--word3_2); opacity: 0; font-size: 3.0rem;}
    90% {content: var(--word3_2); opacity: 1; font-size: 3.0rem;}
    100% {content: var(--word3_2); opacity: 0; font-size: 3.0rem;}
}


#about-page-container {
    scroll-snap-align: start;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
    
  /*about is the row/horizontal container for each section*/
  .about {
    flex: 0 0 500px;
    height: 500px;
    width: 100vw;
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
  }
  
  .hero, .contents {
    flex: 0 0 45vw;
  }
  
  .contents h1{
    color: var(--red-color);
    font-size: 2rem;
    text-shadow: 1px 1px 0px lightgrey;
    margin-bottom: 0.5em;
  }
  
  .contents p {
    color: var(--font-color);
    font-size: 0.9rem;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  #particles-js { /*position particles inside the hero container*/
    position: relative;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
  } 
  
  #bayesian-hero {
    position: relative;  
  }
  
  #bayesian-hero-bg {
    position: absolute;
    width: 60%;
    height: 60%;
    background-image: url(../images/bayes-toast.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 10%;
    left: 20%;
  }
  
  #daily-hero {
    font-size: 1.2em;
    line-height: 1.6;
    position: relative;
    overflow-x: hidden;
  }
  
  #daily-hero-highlighter { /*daily-hero is a code snippet, this highligher is a dark-transparent bar moving vertically highlighting the code lines*/
    position: absolute;
    height: 1.5em;
    width: 90%;
    top: 10%;
    left: 5%;
    background-color: rgba(var(--dark-background-color-rgb), 0.15);
    animation: highlighter 20s linear infinite;
  }
  .red {color: var(--red-color);}
  .gray {color: lightslategrey;}
  .green {color: var(--green-color)}
  .blue {color: var(--blue-color);}
  .purple {color: blueviolet;}
  #daily-hero-highlighter:hover { /*pause the highlighter's animation state when hovered*/
    animation-play-state: paused;
  }
  @keyframes highlighter { /*move the highligher vertically*/
    100% {top: 85%;}
  }
  
  #language-hero {
    position: relative;  
  }
  /*the dog photo*/
  #language-dog {
    position: absolute;
    width: 30%;
    height: 50%;
    bottom: 20%;
    left: 25%;
    background-image: url(../images/language-dog.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  /*positioning the speech bubble box above doggy photo*/
  #language-dog::after {
    content: "";
    width: 100%;
    height: 50%;
    background-image: url(../images/speech-bubble.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -45%;
    left: 75%;
    z-index: 2;
  }
  /*positioning contents in the speech bubble box*/
  #language-dog::before {
    content: "";
    position: absolute;
    width: 70%;
    max-width: 100px;
    height: 20%;
    top: -33%;
    left: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-position: center center;
    animation: speech-bubble 25s cubic-bezier(0, 2, 0, 2) infinite;
  }
  @keyframes speech-bubble {
    0% {background-image: none;}
    20% {background-image: url(../images/julia-logo.png); background-repeat: no-repeat; background-size: contain; background-position: center center;}
    40% {background-image: url(../images/stan-logo.png); background-repeat: no-repeat; background-size: contain; background-position: center center;}
    60% {background-image: url(../images/numpy-logo.png); background-repeat: no-repeat; background-size: contain; background-position: center center;}
    80% {background-image: url(../images/java-logo.png); background-repeat: no-repeat; background-size: contain; background-position: center center;}
    100% {background-image: url(../images/mysql-logo.png); background-repeat: no-repeat; background-size: contain; background-position: center center;}
  }
  
  #minimalism-hero {
    position: relative;
  }
  #minimalism-hero-bg {
    position: absolute;
    width: 70%;
    height: 70%;
    background-image: url(../images/stone.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 10%;
    left: 20%;
  }
  
  #revolution-hero {
    position: relative;
  }
  #revolution-hero-bg {
    position: absolute;
    width: 70%;
    height: 70%;
    background-image: url(../images/revolution.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 10%;
    left: 20%;
  }
  








