@import url(../../assets/css/colors.css);
@import url(../../assets/css/global_styles.css);

body {
    margin: 0;
    padding: 0;
}

#landing-page {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --bg-color: 255,255,255;
    background-color: rgba(var(--bg-color),1);
    z-index: 1;
    animation: bg-image 10s ease-in forwards;
}

/*the underneath background layer*/
#landing-page::before {
    content: "";
    background-image: url("../images/cover.jpg"); /*default to portrait version*/
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} 
/*change attributes for landscape viewport*/
@media (orientation: landscape) {#landing-page::before {background-image: url("../images/cover-landscape.jpg");} }

#box {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box1 {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-height: 400px;
}

#box1 h1 {
    font-size: 3rem;
    line-height: 0.8;
    position: relative;
    overflow: hidden; /*used for ::after masking*/
}

.primary-color {
    color: var(--red-color);
}

#box1 h1::after {
    content: "";
    background-color: var(--font-color);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    animation: right-mask 3s ease-in 0s forwards;
}

#box1 h1::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(var(--bg-color),1);
    animation: left-mask 3s ease-in 0s forwards;
}

@keyframes left-mask {
    0% {transform: translateX(0%)}
    100% {transform: translateX(110%)}
}

@keyframes right-mask {
    0% {transform: translateX(-110%)}
    100% {transform: translateX(110%)}
}

@keyframes bg-image {
    0% {background-color: rgba(var(--bg-color),1)}
    100% {background-color: rgba(var(--bg-color),0.8)}
}

#box2 {
    flex: 1 1 50%;
    max-height: 200px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#slot1::before, #slot2::before, #slot3::before {
    text-transform: uppercase;
    content: "";
    opacity: 0%;
    animation-duration: 40s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.15, 0.9, 0.2, 1);
    font-size: 2.5rem;
    font-weight: bold;
    --word1_1: "academic";
    --word2_1: "crazy";
    --word3_1: "belligerent";
    --word1_2: "applied";
    --word2_2: "   bayesian";
    --word3_2: "   capital";
}

/*::before/after animation and transition are not supported in safari*/
#slot1::before {animation-name: slot1}
#slot2::before {animation-name: slot2}
#slot3::before {animation-name: slot3}

@keyframes slot1{
    0% {content: var(--word1_1); opacity: 0;font-size: 2.5rem;}
    5% {content: var(--word1_1); opacity: 1;font-size: 2.5rem;}
    10% {content: var(--word1_1); opacity: 0;font-size: 2.5rem;}
    30% {content: var(--word1_1); opacity: 0;font-size: 2.5rem;}
    31% {content: var(--word1_2); opacity: 0; font-size: 3rem;}
    90% {content: var(--word1_2); opacity: 1; font-size: 3rem;}
    100% {content: var(--word1_2); opacity: 0; font-size: 3rem;}
}

@keyframes slot2 {
    0% {content: var(--word2_1); opacity: 0; font-size: 2.5rem;}
    20% {content: var(--word2_1); opacity: 0; font-size: 2.5rem;}
    25% {content: var(--word2_1); opacity: 1; font-size: 2.5rem;}
    30% {content: var(--word2_1); opacity: 0; font-size: 2.5rem;}
    31% {content: var(--word2_2); opacity: 0; font-size: 3rem;}
    90% {content: var(--word2_2); opacity: 1; font-size: 3rem;}
    100% {content: var(--word2_2); opacity: 0; font-size: 3rem}
}

@keyframes slot3 {
    0% {content: var(--word3_1); opacity: 0; font-size: 2.5rem;}
    10% {content: var(--word3_1); opacity: 0; font-size: 2.5rem;}
    15% {content: var(--word3_1); opacity: 1; font-size: 2.5rem;}
    20% {content: var(--word3_1); opacity: 0; font-size: 2.5rem;}
    30% {content: var(--word3_1); opacity: 0; font-size: 2.5rem;}
    31% {content: var(--word3_2); opacity: 0; font-size: 3rem;}
    90% {content: var(--word3_2); opacity: 1; font-size: 3rem;}
    100% {content: var(--word3_2); opacity: 0; font-size: 3rem;}
}










