@import url(../../global_assets/css/css_colors.css);
@import url(../../global_assets/css/css_global_styles.css);

body {
  overflow-x: hidden;
  }

#photo-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*the cover image to display in the showcase container, before any photo load*/
#showcase-cover {
  width: 100%;
  height: 100%;
  background-image: url(../images/photo-top_portrait.jpg);
  background-size: cover; /*stretching bg img to fill the container*/
  background-repeat: no-repeat;
  background-position: center center;
} /*media query to select a landscape and a portrait bg img */
@media (orientation: landscape) {
  #showcase-cover {background-image: url(../images/photo-top_landscape.jpg);}
}
@media (orientation: portrait) {
  #showcase-cover {background-image: url(../images/photo-top_portrait.jpg);}
}

/*the area displaying photos*/
#photo-showcase-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 50px 0px 0px 0px;
  padding: 0;
  flex-grow: 1; /*grow & shrink=1, making this showcase-container taking up whatever vh remaining*/
  flex-shrink: 1;
  flex-basis: 60vh;
}

/*each row contains many frames, each frame is either classed landscape or portrait and contains a film, which contains photo*/
.frame {
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: visible;
}

/*portrait/vertical orientation*/
.portrait {
  flex: 1 1 20%;
  width: auto;
  min-width: 210px;
  max-width: 240px;
  height: 300px;
}

/*landscape/horizontal orientation*/
.landscape {
  flex: 1 1 25%;
  width: auto;
  min-width: 290px;
  max-width: 310px;
  height: 225px;
}

/*photo film*/
.film {
  height: 80%;
  width: 80%;  
  background-color: rgb(255,255,255);
  position: absolute;
  box-shadow: 5px 10px 10px #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/*photo*/
.film img {
  position: absolute;
  image-orientation: none; /*often photos have EXIF meta data which mess up rotation in different browsers/devices, better strip Exif off using exiftool first and declare not-to-use exif orientation*/
  width: 90%;
  height: 85%;
  top: 10%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: 2;
}

/*insert the hanging rope before a frame*/
.frame::before { 
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 350%;
  height: 8px;
  background: url(../images/rope.jpg);
  z-index: 3;
}

/*insert the clip after a frame*/
.frame::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 80px;
  background: url(../images/clip.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: 4;
}

.portrait::after {
  top: -10%;
}

.landscape::after {
  top: -17%;
}

/*styling for the page top*/
#photo-page-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0; /*grow & shrink = 0, making this container inflexible*/
  flex-shrink: 0;
}

#photo-page-top h1 {
  color: var(--red-color);
  font-size: 2.5rem;
  animation: top-color 4s ease forwards;
}

@keyframes top-color {
  0% {color: var(--background-color);}
  100% {color: var(--red-color);}
}

/*styling for the dropdown menu*/
select {
  appearance: none;
  border: 0;
  background-color: var(--font-color);
  color: var(--background-color);
  flex-grow: 1;
  padding: 0 0.5em;
  cursor: pointer;
  font-size: 1em;
}

.dropdown {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.3em;
}

.dropdown::after {
  content: '\25BC'; /*arrow-down unicode*/
  color: var(--dark-bg-font-color);
  position: absolute;
  top: 0;
  right: 0;
  height: inherit;
  padding: 0 1em 0 1em;
  background-color: var(--dark-background-color);
  cursor: pointer;
  pointer-events: none;
  transition: .5s all ease;
}

.dropdown:hover::after {
  color: var(--red-color);
}
  
