::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: Constantia, Helvetica, sans-serif;
  font-size: 75%;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; 
}

ol, ul {
  list-style-type: none;
}