
/*css for styling the bookshelf*/

@import url("../../assets/css/colors.css");
@import url("../../assets/css/global_styles.css");


/*top_nav is the area at the top, displaying the subject and this sub-subject*/
#top_nav {
  color: var(--font-color);
  width: 100%;
  margin-top: 2%;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

#top_nav a:hover {
  text-decoration: underline overline;
  text-decoration-color: rgba(var(--red-color-rgb), 0.8);
}

#bookshelf {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  height: 230px;
  margin-top: 10px;
  margin-left: -6px;
  margin-right: 0px;
}

.book {
  margin: 10px 0px 10px 0px;
  flex: 0 0 16.5%;
  height: 230px;
  overflow: visible;
  position: relative;
}

.book .bookinfo img {
  border: none;
  margin: 0px 0px 0px 0px;
  width: 65%;
  max-width: 120px;
  height: 70%;
  position: absolute;
  left: 30px;
  bottom: 15%;
  opacity: 0.9;
  border-radius: 1%;
  box-shadow: 2px 2px 5px var(--font-color);
  z-index: 2;
  transition-property: transform;
  transition-duration: 0.8s;
  transition-timing-function: ease-out;
  transition-delay: 0.1s;
}

.bookinfo {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.book .bookinfo .meta {
  margin: 0px 0px 0px 0px;
  padding: 2px 2px 0px 2px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: rgba(0,0,0,0.6);
  color: rgba(222,222,222,1);
  z-index: 3;
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.book .meta a {
  color: rgba(222,222,222,1);
  font-style: italic;
  text-decoration: underline;
}

.book img:hover + .meta{
  top: 86%;
}

.book img:hover {
  transform: scale(1.52) translateY(-0px);
  opacity: 1;
}

.book:hover .meta:hover {
  top: 0%;
  background-color: rgba(0,0,0,0.8);
}

.meta ul {
  font-size: 9pt;
  display: block;
  width: 90%;
  height: 95%;
  text-align: left;
  margin: 8px 0px 0px 0px;
  list-style-type: none;
  margin-left: -30px;
  overflow: auto;
  -ms-overflow-style: none;
}

.meta ul::-webkit-scrollbar { 
display: none;
}

.title {
  font-size: 10pt;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
  text-align: left;
}

.author {
  margin: 5px 0px 5px 0px;
  text-align: left;
}

.author::before {
  content: "by ";
}

.booklink { 
  font-size: 12pt;
  margin: 6px 0px 5px 0px;
  text-align: center;
  text-shadow: 1px 1px 2px whitesmoke;
}

.booklink a:link, .booklink a:visited, .booklink a:hover {
  text-decoration: none;
  color: rgba(254,205,51,1); 
  cursor: url("https://i.ibb.co/YDWTh6R/cursor-book1.png") 10 3, auto;
}

/*review stars*/
.star0, .star1, .star2, .star3, .star4, .star5 {
  position: relative;
  width: 50%;
  height: 15px;
  margin-left: 40px;
}

.star0 {
  content: url(https://i.ibb.co/7tjv0mZ/0.png);
}
.star1{
  content: url(https://i.ibb.co/6HLBRXw/1.png);
}
.star2{
  content: url(https://i.ibb.co/GTXR5Qv/2.png);
}
.star3{
  content: url(https://i.ibb.co/c37yfGx/3.png);
}
.star4{
  content: url(https://i.ibb.co/jZZKnLf/4.png);
}
.star5{
  content: url(https://i.ibb.co/TR7VFCw/5.png);
}

/*each shelf row is defined to carry 6 books*/
.book:nth-child(6n+1)::before{
    display: block;
    content: "";
    width: 630%;
    height: 95px;
    background: url(https://i.ibb.co/0QdBdbv/abc-bookshelf.png);
    position: absolute;
    bottom: 0%;
  	z-index: 1;
}