
/*importing a modular css*/
@import url("css_subjectshelf_bg.css");
@import url("css_subjectshelf_commonStyling.css");
@import url("css_subjectshelf_hoverEffects.css");
@import url("css_subjectshelf_index_layout.css");
@import url("../../global_assets/css/css_colors.css");
@import url("../../global_assets/css/css_global_styles.css");


/*start of styling for top page*/

#top {
    background-image: url(../images/bookshelf_top_1000px.jpg); /*default image 1000px wide, list 1x and 2x resolutions below*/
    background-image: -webkit-image-set(url(../images/bookshelf_top_1000px.jpg) 1x, url(../images/bookshelf_top_1920px.jpg) 2x);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

#top_body {
    margin-top: 20vh;
    color: var(--background-color);
    text-align: center;
    line-height: 1.6;
    font-size: 5.5em;
    font-style: normal;
}
  
#top_body strong {
    background-color: var(--background-color);
    color: var(--green-color);
    padding-top: 0.05em;
    padding-bottom: 0.05em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

/*end of styling for top page*/




/*start of styling for 2nd page (computer science)*/


/*overriding flex*/
#computerscience .subjectshelf a { 
    flex: 1 1 33.33%;
}

/*secondary subject/emptysubject class tags for hover effects*/
.subject_machinelearning:hover ~ .emptysubject_machinelearning {
    opacity: 1;
}


/*end of styling for 2nd page*/




/*start of styling for 3rd page (programming)*/

/*overriding flex*/
#programming .subjectshelf a { 
    flex: 1 1 16.66%;
}


/*secondary subject/emptysubject class tags for hover effects*/
.subject_pythonlib:hover ~ .emptysubject_pythonlib, .subject_r:hover ~ .emptysubject_r {
    opacity: 1;
}  
/*end of styling for 3rd page*/





/*start of styling for 4th page (technology)*/


/*overriding flex*/
#technology .subjectshelf a { 
    flex: 1 1 14.28%;
}


/*secondary subject/emptysubject class tags for hover effects*/


/*end of styling for 4th page*/




/*start of styling for 5th page (statistics)*/


/*overriding flex*/
#statistics .subjectshelf a { 
    flex: 1 1 25%;
}


/*secondary subject/emptysubject class tags for hover effects*/
.subject_datascience:hover ~ .emptysubject_datascience {
    opacity: 1;
}

/*end of styling for 5th page*/



/*start of styling for 6th page (mathematics)*/


/*overriding flex */
#mathematics .subjectshelf a { 
    flex: 1 1 50%;
}

/*secondary subject/emptysubject class tags for hover effects*/


/*end of styling for 6th page*/



/*start of styling for 7th page (finance)*/


/*overriding flex */
#finance .subjectshelf a { 
    flex: 1 1 16.66%;
}


/*secondary subject/emptysubject class tags for hover effects*/



/*end of styling for 7th page*/



/*start of styling for 8th page (economics)*/


/*overriding flex*/
#economics .subjectshelf a { 
    flex: 1 1 33.33%;
}


/*secondary subject/emptysubject class tags for hover effects*/
.subject_econometrics:hover ~ .emptysubject_econometrics, .subject_financialmetrics:hover ~ .emptysubject_financialmetrics {
    opacity: 1;
} 
/*end of styling for 8th page*/



/*start of styling for 9th page (business)*/


/*overriding flex*/
#business .subjectshelf a { 
    flex: 1 1 25%;
}


/*secondary subject/emptysubject class tags for hover effects*/


/*end of styling for 9th page*/



/*start of styling for 10th page (games)*/


/*overriding flex*/
#games .subjectshelf a { 
    flex: 1 1 50%;
}


/*secondary subject/emptysubject class tags for hover effects*/
.subject_gamble:hover ~ .emptysubject_gamble, .subject_gametheory:hover ~ .emptysubject_gametheory {
    opacity: 1;
}
/*end of styling for 10th page*/



/*start of styling for 11th page (science & others)*/


/*overriding flex*/
#science_others .subjectshelf a { 
    flex: 1 1 20%;
}


/*secondary subject/emptysubject class tags for hover effects*/


/*end of styling for 11th page*/

