@import url("../../assets/css/colors.css");
@import url("../../assets/css/global_styles.css");

body {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
}

#main-container {
    width: 100%;
    height: 90vh;
    max-height: 1500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 8vh;
}

#top-box {
    width: 100%;
    height: 15%;
    line-height: 1;
    min-height: 50px;
    max-height: 160px;
    flex: 0 2 30%;
    margin-left: 10%;
}

#top-msg1 {
    color: var(--blue-color);
    font-size: calc(3em + 2vh); /*min 3em and adjust on vh*/
    font-weight: bold;
}

#top-msg2 {
    font-size: calc(2em + 2vh);
    margin-bottom: 0;
}

#middle-box {
    margin-top: 2vh; 
    width: 80%;
    height: 30vh;
    max-height: 350px;
    flex: 2 1 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
}

@media (orientation: landscape) {
    #middle-box {
    margin-top: 0;
    height: 25vh;
    }
}

#middle-left-box {
    flex: 1 1 50%;
    height: 100%;
    min-height: 150px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mail-open {
    height: 120px;
    max-height: 200px;
    width: 100%;
    flex: 1 1 70%;
    background-image: url("../images/mail-open.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

#email-address {
    flex: 1 2 30%;
    font-size: 1.2rem;
    padding-top: 5%;
    max-height: 50px;
}

#middle-right-box {
    flex: 1 1 50%;
    height: 100%;
    min-height: 120px;
    max-height: 300px;
}

#social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    min-height: 150px;
    max-height: 300px;
}

#social-media a, #social-media img {
    font-size: 1.8rem;
    flex: 1 1 33%;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
}

#social-media a:hover > .iconify {
    color: var(--blue-color);
}

#bottom-box {
    flex: 2 1 30%;
    width: 100%;
    height: 300px;
    min-height: 250px;
    max-height: 400px;
    position: relative;
}

#map {
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    filter: blur(1px) opacity(60%);
}

#map:hover {
    filter: blur(0px) opacity(90%);    
}



